@import "../../index";

.modal {
  width: 500px;
  height: 200px;
  text-transform: uppercase;
  background-color: $color-secondary;
  color: $color-font-secondary;
  font-size: $font-primary-size;
  z-index: 1;
  position: absolute;
  top: 25%;
  .container__modal-content {
    margin: 30px;
    p {
      width: 100%;
      text-align: center;
    }
    button {
      font-family: $font-primary;
      text-transform: uppercase;
      background-color: Transparent;
      border: 1px solid $color-font-secondary;
      color: $color-font-secondary;
      font-size: $font-secondary-size;

      background-color: Transparent;
      &:hover {
        cursor: pointer;
        border: 1px solid $color-tertiary;
        color: $color-tertiary;
      }
    }
  }
}
