@import "../../index";

.modal {
  width: 500px;
  height: 200px;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-secondary;
  color: $color-font-secondary;
  font-size: $font-primary-size;
  z-index: 1;
  position: absolute;
  top: 20%;
}
