@import "styles/colors";
@import "styles/typography";
@import "styles/grid";
@import "styles/buttons";

body {
  margin: 10%;
  padding: 0;
  background-color: $color-primary;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button {
  font-family: $font-primary;
  text-transform: uppercase;
  background-color: Transparent;
  border: 1px solid black;
  background-color: Transparent;
  &:hover {
    cursor: pointer;
  }
}
