@import "../../index";
.container__main-content {
  display: flex;
  justify-content: center;
  .board {
    .row {
      border-bottom: 3px solid $color-tertiary;
      &:last-child {
        border: none;
      }

    }
    .col {
      border-right: 3px solid $color-tertiary;
      &:last-child {
        border: none;
      }
    }
  }

}
