@import "../../index";

.board {
  .col {
    border-right: 3px solid black;
    &:last-child {
      border: none;
    }
  }
  .content {
    color: $color-secondary;
    font-size: 50px;
    font-family: $font-primary;
    text-align: center;
  }
}
